* {
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

.title {
    text-align: center;
}

.entry {
  margin: 20px;
  border: 2px solid black;
  background-color: grey;
  position: relative;
}

.subtitle {
    display: inline;
    height: 30px;
    margin: 0;
    width: 120px;
    display: inline;
    right: 0;
    top: 0;
    text-align: center;
    position: absolute;
    border: 1px solid black;
}

.chicken {
  background-color: rosybrown;
}

.beef {
  background-color: #A52A2A;
  color: white;
}

.sushi {
  background-color: bisque;
}

.description {
  margin: 40px 15px 15px 15px;
}

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
    }
    .col-lg-4 {width: 33%;}
}

@media (min-width: 768px) and (max-width: 991px) {
     .col-md-6, .col-md-12 {
        float: left;
      }
      .col-md-6 {
        width: 50%;
      }
      .col-md-12 {
        width: 100%;
      }
}
